.form-control {
    display: block;
    width: 300px;
    margin: 5px 0;
    padding: 2px;
    border-radius: 3px;
    border: 1px solid #172432;
  }
  
  .message{
    width: 100%;
    position: relative;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
}
.message .success{
    font-size: 20px;
    color: green;
    position: absolute;
    animation: buttons .3s linear;
    display: none;
}
.message .danger{
    font-size: 20px;
    color: red;
    position: absolute;
    transition: .3s;
    animation: buttons .3s linear;
    display: none;
}
.btnclass {
    
    display: inline-block;
    transition-duration: 0.4s;
    background-color: orange;
    border: black;
    color: #ddd;
    padding: 14px 40px;
    border-radius: 4px;
    align-items: center;
    font-size: 15px;
  }
  .btnclass:hover{
    background-color: red;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

  }
  .container1{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .dateOfBirth{
    color: black;
  }
  .container1 {
    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 100vh;
    margin: 0;
  }
  @keyframes buttons{
    0%{
        transform: scale(0.1);
    }
    50%{
        transform: scale(0.5);
    }
    100%{
        transform: scale(1);
    }
  }