
    .container {
        background-color:rgb(24, 7, 65);
        font-style: oblique;
      max-width: 600px;
      margin: 5%;
      padding: 20px;
       border: 1px solid  rgb(44, 26, 23); 
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(240, 201, 201, 0.634);
    }
    .addressSection {
       margin-top: '15px'; 
       padding: 5px;
    }
    .nestedSection {
      margin-top: '20px';
      padding: 5px;
    }
  